* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
body {
	background-color: #3d6ea7;
	color: #585858;
}
a:link {
	color: #32cd32;
}

/* visited link */
a:visited {
	color: #808080;
}

/* mouse over link */
a:hover {
	color: #808080;
}

/* selected link */
a:active {
	color: #101010;
}

.App {
	text-align: center;
	background-image: url("./img/floating-cogs-2.svg");
	background-size: auto;
	background-repeat: repeat;
}

body > .grid {
	height: 150%;
	background-color: #2a4a70;
}
.image {
	margin-top: 100px;
}
.column {
	max-width: 700px;
}
/* .jumbotron {
	backgroundrepeat: repeat;
	color: #517aac;
	backgroundsize: cover;
} */

