* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
body {
	background-color: #3e5c83;
	background-image: url(./img/floating-cogs-2.svg);
}

a:link {
	color: #32cd32;
}

/* visited link */
a:visited {
	color: #808080;
}

/* mouse over link */
a:hover {
	color: #808080;
}

/* selected link */
a:active {
	color: #101010;
}

.App {
	text-align: left;
}
body > .grid {
	height: 150%;
	background-color: #2a4a70;
}
.image {
	margin-top: 100px;
}
.column {
	max-width: 700px;
}

